body {
  background-color: #8b8b8b;
}

.container {
  display: flex;
  flex-direction: row;
  margin: 1%;
  flex-wrap: wrap;
}

.section {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  max-height: 600px;
  background-color: #242424;
  border-radius: 2%;
  padding: 2%;
  border: 1px solid white;
  box-shadow: 2px 5px 2px 2px #313030;
  margin: 1%;
  margin-top: 20px;
}

.image {
  margin-bottom: 5%;
}

.title a {
  /* text-decoration: none; */
  color: white;
}

.title {
  margin-bottom: 5%;
}

.dec {
  color: #c1c0c1;
}
